rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /products {
      allow read;
      allow write: if request.auth.uid != null && request.auth.token.admin
    }
    match /categories {
      allow read;
      allow write: if request.auth.uid != null && request.auth.token.admin
    }
  }
}

